{% extends "tasting/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>{{ wine.Name }}</title>{% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="page-header">
            <div class="btn-toolbar float-right">
                <a href="/wine/{{ wine.id }}/add_tasting/"><button type="button" class="btn btn-outline-success header-button">Add</button></a>
            </div>
            <h1>Tastings - {{ wine.Name }}</h1>
        </div>
        {% if tastings %}
            <ul class="list-group">
            {% for t in tastings %}
                <li class="list-group-item">
                    <a href="/wine/tasting_detail/{{ t.id }}">{{ t.date }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>