{% extends "tasting/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Tasting Notes</title>{% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Tasting Notes</h1>
        </div>
        <div class="jumbotron tasting-detail">
            <dt>Vineyard</dt>
            <dd>{{ tasting.wine.Vineyard }}</dd>
            <dt>Name</dt>
            <dd><a class="detail" href="/wine/{{ tasting.wine.id }}">{{ tasting.wine.Name }} ({{ tasting.wine.Vintage }})</a></dd>
            <dt>Tasting Date</dt>
            <dd>{{ tasting.date }}</dd>
            <dt>Color</dt>
            <dd>{{ tasting.hue }}</dd>
            <dt>Clarity</dt>
            <dd>{{ tasting.clarity }}</dd>
            <dt>Nose</dt>
            <dd>{{ tasting.nose }}</dd>
            <dt>Body</dt>
            <dd>{{ tasting.body }}</dd>
            <dt>Acidity</dt>
            <dd>{{ tasting.acidity }}</dd>
            <dt>Tannin</dt>
            <dd>{{ tasting.tannin }}</dd>
            <dt>Sweetness</dt>
            <dd>{{ tasting.sweetness }}</dd>
            <dt>Fruitiness</dt>
            <dd>{{ tasting.fruitiness }}</dd>
            <dt>Finish</dt>
            <dd>{{ tasting.finish }}</dd>
            <dt>Did Like</dt>
            <dd>{{ tasting.did_like }}</dd>
            <dt>Worth Price</dt>
            <dd>{{ tasting.worth_price }}</dd>
            <dt>Would Buy Again</dt>
            <dd>{{ tasting.would_buy_again }}</dd>
        </div>
    </div>
{% endblock %}
</body>
</html>